<h1>My Quotes</h1>
<div class="container">


    <div class="row" *ngFor='let quote of quotes;let i = index'>
        <div class="row">
            <app-quote-form></app-quote-form>
        </div>
    </div>
            <h4 id="{{i}}" appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4>
        <!-- <li id="{{i}}" appStrikethrough>{{quote.name}}due on {{quote.completeDate|date|uppercase}}</li>  -->
        <button  class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuotes($event,i)'></app-quote-details> 
  
    <!-- </div>  -->
    <div class="row" *ngIf="quote.showDescription">
        <app-quote-details  [quote]='quote' (isComplete)= 'deleteQuotes($event,i)'></app-quote-details>
    </div>
    
</div>
<p *ngIf='quotes.length > 5'>You have too many quotes</p>
