<h1>Enter your information & Quotes</h1>


    <div class="row">
      <div class="col-md-6">
        <app-quote-form (addNewQuotes)="addNewQuotes()" id="form"></app-quote-form>
    </div>


    <div class="col-md-6">
    <div *ngFor='let quote of quotes;let i = index'>
        <ul>
            <li id="listed">
                {{quote.name}} Author:{{quote.Author}}  posted{{quote.notecount}} day(s) ago.
            </li>
            <button (click)="toggleDetails(i)" class="btn btn-info btn-xs">
                <i class="fa fa-sort">details</i>
            </button>&nbsp;
            <button (click)="upvote(i)" class="btn btn-success btn-xs">
              <i class="up"></i>upvote {{quote.upvotes}}</button>&nbsp;&nbsp;
              <button (click)="downvote(i)" class="btn btn-primary btn-xs">
                <i class="down"></i>downvote {{quote.downvotes}}</button>&nbsp;&nbsp; 
                
                  <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteQuotes($event,i)'></app-quote-details>
        </ul>
    </div>
        <!-- <app-quote-form (addQuote)="addNewQuotes($event, i)"></app-quote-form>    -->
  </div>
  
<!--         
        <h4 id="{{i}}" appStrikethrough>{{Quotes.name}} due on {{Quotes.completeDate|date|uppercase}}</h4>
         
        <button  class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
        <div class="row" *ngIf="Quotes.showDescription">
            <app-quote-details  [quote]='Quotes' (isComplete)= 'deleteQuotes($event,i)'></app-quote-details>
        
        
    </div> -->
           <!-- <app-quote-details *ngIf="Quote.showDescription" [quote]='Quotes' (isComplete)= 'deleteQuotes($event,i)'></app-quote-details>  -->
  
    <!-- </div>  -->
    

<p *ngIf='quotes.length > 5'>You have too many quotes</p> 
<!-- constructor() {}

  ngOnInit() {
      
  }  -->

